/*定义动画，从清晰到模糊*/
@keyframes blurIn{
    from {
        filter:none;
    }
    to {
        filter:blur(6px) brightness(85%);
    }
}
/*定义动画更改背景颜色*/
@keyframes lightUp{
    from {
        background:rgba(255,255,255,.3);
    }
    to {
        background:rgba(255,255,255,.4);
    }
}
/*定义动画，旋转*/
@keyframes roll {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}

#body{
    padding:0;
    margin:0;
    background:#ff96ad;
    overflow:hidden;
}
/*设置元素被选中时的样式*/
::selection {
	background-color: #ff96ad;
    color: #ffffff;
}

/*隐藏滚动条*/
body::-webkit-scrollbar {
    display: none;
}
body {
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100vw);
  overflow: auto;
}


a{
    color:white;
    font-size:22px;
}
/*设置#div的样式，隐藏#div2溢出的部分*/
#div{
    height:100vh;
    overflow:hidden;
}

#div1{
    width:550px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    z-index:1;
    border-radius:8px;
    background: rgba(255,255,255,.3);
    padding:20px;
    box-shadow:rgba(0,0,0,.2) 0 2px 2px 0;
}

/*移动设备样式*/
@media all and (max-aspect-ratio:3/4){
    #div1 {
    width:80%;
    }
    a{
    color:white;
    font-size:2.2em;
}
#jianjie{
    padding-bottom:180px!important;
}
a.copyright{
    font-size:1.6em!important;
}
#div2{
    filter:blur(14px)!important;
}
#div1:hover + #div2, #div1:active + #div2{
    animation:none!important;
}
hr.touxiang{
top:14%!important;
}
}

/*把#div2扩大1.1倍，以免模糊动画生效时背景图片四周产生白边，由于扩大了1.1倍，需要在ID为#div的父元素中隐藏溢出部份*/
#div2{
    background:url(background.jpg) center no-repeat;
    background-size:cover;
    background-attachment:fixed;
    height:100vh;
    z-index:0;
    transform:scale(1.1);
}

#touxiang{
    top:40px;
    text-align:center;
    position:relative;
    left: 0;
    right: 0;
    margin: auto;
    z-index:1;
}
hr.touxiang{
    width:100%;
    transform: scaleY(0.5);
    transform-origin: 50% 100%;
    position:absolute;
    top:18%;
    z-index:-1;
}

img.touxiang{
    width:200px;
    height:200px;
    border-radius:50%;
    box-shadow:rgba(0,0,0,.2) 0 2px 2px 0;
    background:#ff96ad;
}

/*头像图片绑定旋转动画*/
img.touxiang:hover{
    filter:brightness(110%);
    animation :roll .3s forwards;
}

#xia{
    text-align:center;
    left: 0;
    right: 0;
    margin: auto;
    position:absolute;
    bottom:2%;
}

#jianjie{
    position:relative;
    top:20px;
    text-align:center;
    padding-bottom:150px;
    padding-top:10px;
}

/*光标焦点在#div1时，#div2变暗和模糊*/
#div1:hover + #div2, #div1:active + #div2{
    animation: blurIn .2s ease-out forwards;
}

/*光标焦点在#div1时，提高其背景亮度*/
#div1:hover {
    animation: lightUp .2s ease-out forwards;
}

img.shejiao{
    position:relative;
    width:12%;
    border-radius:50%;
    z-index:3;
}

/*光标焦点在社交图标时，降低该图标的亮度*/
img.shejiao:hover{
    filter:brightness(90%);
}

div.copyright{
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    bottom: 16px;
}
a.copyright{
    font-weight:100;
    font-size:1em;
}
