/*定义动画*/
@keyframes blurIn{
    from {
        filter:none;
    }
    to {
        filter:blur(6px) brightness(85%);
    }
}
@keyframes lightUp{
    from {
        background:rgba(0,0,0,.25);
    }
    to {
        background:rgba(0,0,0,.35);
    }
}
@keyframes roll {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}
@keyframes fanzhuan{
    from {
        transform: none;
        filter:none;
    }
    to {
        transform: rotateY(360deg);
        filter:sepia(1) saturate(90) hue-rotate(285deg);
    }
}
@keyframes anniu{
    from {
    filter:none;
    background:none;
    box-shadow:none;
    }
    to {
    filter:brightness(95%);
    background:radial-gradient(rgba(255,255,255,.1),rgba(100,100,100,.1));
    box-shadow:rgba(0,0,0,.2) 0 8px 12px 0 inset;
    }
}
/*动画结束*/
#body{
    padding:0;
    margin:0;
    background:#052742;
    overflow:hidden;
}

::selection {
	background-color: #ff96ad;
    color: #ffffff;
}

/*隐藏滚动条*/
body::-webkit-scrollbar {
    display: none;
}
body {
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100vw);
  overflow: auto;
}

a{
    color:white;
    font-size:22px;
}

#div{
    height:100vh;
    overflow:hidden;
}

#div1{
    width:550px;
    height: 350px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    z-index:1;
    border-radius:8px;
    background: rgba(0,0,0,.25);
    padding:20px;
    box-shadow:rgba(0,0,0,.2) 0 6px 8px 0;
}

#div2{
    background:url(yurukyan.jpg) center no-repeat;
    background-size:cover;
    height:100vh;
    z-index:0;
    transform:scale(1.1);
}

#touxiang{
    top:40px;
    text-align:center;
    position:relative;
    left: 0;
    right: 0;
    margin: auto;
    z-index:1;
}
hr.touxiang{
    width:100%;
    transform: scaleY(0.5);
    transform-origin: 50% 100%;
    position:absolute;
    top:18%;
    z-index:-1;
}

img.touxiang{
    width:200px;
    height:200px;
    border-radius:50%;
    box-shadow:rgba(0,0,0,.2) 0 8px 12px 0;
    background:#ffffff;
    position: absolute;
    top: -28%;
    left: 0;
    right: 0;
    margin: auto;
    border: solid 3px;
    z-index:3;
}

img.touxiang:hover{
    filter:brightness(110%);
    animation :roll .2s forwards;
}

#xia{
    text-align:center;
    left: 0;
    right: 0;
    margin: auto;
    position:absolute;
    bottom:2%;
}

#jianjie{
    position:relative;
    top:20px;
    text-align:center;
    padding-bottom:150px;
    padding-top:36px;
}

#div1:hover + #div2, #div1:active + #div2{
    animation: blurIn .2s forwards;
}

#div1:hover {
    animation: lightUp .2s forwards;
}
img.shejiao{
    position:relative;
    width:12%;
    border-radius:50%;
    z-index:3;
}

img.shejiao:hover,img.shejiao:active {
    animation:fanzhuan 1s forwards;
}

div.copyright{
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    bottom: 16px;
}
a.copyright{
    font-weight:100;
    font-size:1em;
}

/*自适应*/
@media all and (max-width:1440px) and (min-aspect-ratio:1/1){
    #div1 {
        top:20%!important;
        transform:scale(0.7)!important;
    }
}
@media all and (max-height:640px){
#div1{
    top:20%!important;
    transform:scale(0.7)!important;
}
}
@media all and (max-height:475px){
    div.copyright{
        display:none;
    }
    #div1{
        top:16%!important;
        transform:scale(0.7)!important;
    }
}
@media all and (max-height:430px){
    #div1{
        top:20%!important;
        height:220px!important;
        top:20%!important;
        transform:scale(0.7)!important;
    }
    img.touxiang{
        top:"-42%important";
    }
    #jianjie{
        display:none!important;
    }
}
@media all and (max-height:280px){
    img.touxiang{
        display:none;
    }
    #div1{
        height:60px!important;
        top:28%!important;
        transform:scale(0.7)!important;
    }
}
@media all and (max-aspect-ratio:1/1){
    #div1 {
    width:80%;
    height:auto;
}
    a{
    color:white;
    font-size:2.2em;
}
#jianjie{
    padding-bottom:180px!important;
}
a.copyright{
    font-size:1.6em!important;
}
#div2{
    filter:blur(14px)!important;
}
#div1:hover + #div2, #div1:active + #div2{
    animation:none!important;
}
img.touxiang{
top: -21%!important;
}
img.touxiang:hover{
    animation:none!important;
}
}
/*自适应结束*/
